<table>
	<thead>
		<tr>
			<th>id</th>
			<th>name</th>
			<th>email</th>
			<th>action</th>
		</tr>
	</thead>
	<tbody>
		<% user.forEach(function(user){ %>
		<tr>
			<td><%= user.id %></td>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<td>
				<a href="/user/edit/<%= user.id %>">Edit</a>
				<form style="display: inline" action="/user/delete/<%=user.id %>" method="post">
					<input type="submit" value="delete" name="">
				</form>
				<a href="/user/edit/">Add1</a>
			</td>
		</tr>
		<% }) %>
	</tbody>
</table>