<!-- Product Page
<% if(typeof list == 'object' && list){ %>
	<form action="/cart/" method="POST" id="buy-now-form" >
		<input type="hidden" class="product-id" name="productid" value="<%= list.id %>" /><br /><br />
		<input type="hidden" class="cart-storage" name="localdata" /><br /><br />
		<span><%= list.productid %></span><br /><br />
		<span><%= list.productname %></span><br /><br />
		<span><%= list.price %></span><br /><br />
		<input type="text" class="qty" name="qty" style="border:1px solid #333" /><br /><br />
		<input type="submit" value="Buy Now" class="cart-add">
	</form>
<% } %>
 -->
<section class="container">
	<!-- breadcrumbs starts here -->
	<%- partial('../shared/widgets/breadCrumb.ejs', {breadCrumb}) %>
	<!-- breadcrumbs ends here -->
	
	<!-- image and product details starts here -->
	<section class="pdp-detail-box">
		<!-- image box starts here -->
		<%- partial('partial/pdp-image.ejs')%>
		<!-- image box ends here -->

		<!-- detail box starts here -->
		<%- partial('partial/pdp-detail.ejs')%>
		<!-- detail box ends here -->
	</section>
	<!-- imge and product details ends here -->

	<!-- info graphic starts here -->
	<%- partial('partial/infographic.ejs')%>
	<!-- info graphic ends here -->

	<!-- product attribute starts here -->
	<%- partial('partial/product-attr.ejs')%>
	<!-- product attribute ends here -->
</section>